$color1: #FF930A;
$color2: #f14b04;
$color3: #D1105A;
$color4: #884AB2;
$color45: hsl(259, 71%, 15%);
$color5: #333333e1;
$color6: #fff9dc;
$gradient1: linear-gradient(to right top, #ff930a, #fd7328, #f5543c, #e6344c, #d1105a);
$gradient12: linear-gradient(to right top, #ed4a3d, #ed5043, #ee5549, #ee5b4f, #ee6055);
$gradient2:  linear-gradient(to right top, #2db82d, #38bf37, #41c741, #4ace4a, #53d653);
$gradient3: linear-gradient(to right bottom, #48c6ef, #44b7ee, #4da8ea, #5d97e2, #6f86d6);
$gradient4: linear-gradient(to right top, #471ca8, #5b27aa, #6c33ad, #7b3eaf, #884ab2);