//================================================================ IMPORT
@import './_colors.scss';

  @mixin scroll(){
    &::-webkit-scrollbar {
        width: .5em;
        background-color: $color6; 
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: .7em;
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background-image: $gradient1; 
        cursor: pointer;
    }
  }