.btn {
  padding: .7em 1em;
  border-radius: .75em;
  font-size: 1.5;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
  -webkit-box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.2);
          box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.2);
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff930a), color-stop(#fd7328), color-stop(#f5543c), color-stop(#e6344c), to(#d1105a));
  background-image: linear-gradient(to right top, #ff930a, #fd7328, #f5543c, #e6344c, #d1105a);
}

.btn i,
.btn h3 {
  color: white !important;
  margin: 0;
}

.btn:hover {
  background-position: right center;
  -webkit-box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.27);
          box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.27);
}

.btn:active i,
.btn:active h3 {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button-primary {
  padding: 1em 2em;
  float: right;
}

.button-success {
  padding: 1em 2em;
  float: right;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#004b23), color-stop(#086f2a), color-stop(#25942c), color-stop(#47ba24), to(#70e000));
  background-image: linear-gradient(to left bottom, #004b23, #086f2a, #25942c, #47ba24, #70e000);
}

.button-danger {
  padding: 1em 2em;
  float: right;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff930a), color-stop(#fd7328), color-stop(#f5543c), color-stop(#e6344c), to(#d1105a));
  background-image: linear-gradient(to right top, #ff930a, #fd7328, #f5543c, #e6344c, #d1105a);
}

.button-finished {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#004b23), color-stop(#086f2a), color-stop(#25942c), color-stop(#47ba24), to(#70e000));
  background-image: linear-gradient(to left bottom, #004b23, #086f2a, #25942c, #47ba24, #70e000);
  position: absolute;
  right: -1.5em;
  top: -1em;
}

.button-finished i {
  font-size: 1.7em;
}

.button-add-task:active i {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.btn-input {
  border-radius: 0 .75em .75em 0;
}

.scale-in-top {
  -webkit-animation: scale-in-top 0.13s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.13s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.6s both;
  animation: jello-horizontal 0.6s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-28 12:21:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.opacity-slow {
  -webkit-animation: opacity-slow 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: opacity-slow 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes opacity-slow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-slow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

input {
  height: 36px;
  outline: none;
  border: none;
  border-radius: .75em 0 0 .75em;
  padding: 0 .8em 0 .8em;
  -webkit-box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.2);
          box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.2);
}
/*# sourceMappingURL=main.css.map */