.btn {
  padding: .7em 1em;
  border-radius: .75em;
  font-size: 1.5;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
  -webkit-box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.2);
          box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.2);
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff930a), color-stop(#fd7328), color-stop(#f5543c), color-stop(#e6344c), to(#d1105a));
  background-image: linear-gradient(to right top, #ff930a, #fd7328, #f5543c, #e6344c, #d1105a);
}

.btn i,
.btn h3 {
  color: white !important;
  margin: 0;
}

.btn:hover {
  background-position: right center;
  -webkit-box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.27);
          box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.27);
}

.btn:active i,
.btn:active h3 {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button-primary {
  padding: 1em 2em;
  float: right;
}

.button-success {
  padding: 1em 2em;
  float: right;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#004b23), color-stop(#086f2a), color-stop(#25942c), color-stop(#47ba24), to(#70e000));
  background-image: linear-gradient(to left bottom, #004b23, #086f2a, #25942c, #47ba24, #70e000);
}

.button-danger {
  padding: 1em 2em;
  float: right;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff930a), color-stop(#fd7328), color-stop(#f5543c), color-stop(#e6344c), to(#d1105a));
  background-image: linear-gradient(to right top, #ff930a, #fd7328, #f5543c, #e6344c, #d1105a);
}

.button-finished {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#004b23), color-stop(#086f2a), color-stop(#25942c), color-stop(#47ba24), to(#70e000));
  background-image: linear-gradient(to left bottom, #004b23, #086f2a, #25942c, #47ba24, #70e000);
  position: absolute;
  right: -1.5em;
  top: -1em;
}

.button-finished i {
  font-size: 1.7em;
}

.button-add-task:active i {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.btn-input {
  border-radius: 0 .75em .75em 0;
}

.scale-in-top {
  -webkit-animation: scale-in-top 0.13s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.13s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.6s both;
  animation: jello-horizontal 0.6s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-28 12:21:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.opacity-slow {
  -webkit-animation: opacity-slow 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: opacity-slow 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes opacity-slow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-slow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.m-0 {
  margin: 0em;
}

.m-1 {
  margin: 0.4em;
}

.m-2 {
  margin: 0.8em;
}

.m-3 {
  margin: 1.2em;
}

.m-4 {
  margin: 1.6em;
}

.m-5 {
  margin: 2em;
}

.m-6 {
  margin: 2.4em;
}

.m-7 {
  margin: 2.8em;
}

.mx-0 {
  margin: 0 0em;
}

.mx-1 {
  margin: 0 0.4em;
}

.mx-2 {
  margin: 0 0.8em;
}

.mx-3 {
  margin: 0 1.2em;
}

.mx-4 {
  margin: 0 1.6em;
}

.mx-5 {
  margin: 0 2em;
}

.mx-6 {
  margin: 0 2.4em;
}

.mx-7 {
  margin: 0 2.8em;
}

.my-0 {
  margin: 0em 0;
}

.my-1 {
  margin: 0.4em 0;
}

.my-2 {
  margin: 0.8em 0;
}

.my-3 {
  margin: 1.2em 0;
}

.my-4 {
  margin: 1.6em 0;
}

.my-5 {
  margin: 2em 0;
}

.my-6 {
  margin: 2.4em 0;
}

.my-7 {
  margin: 2.8em 0;
}

.mt-0 {
  margin-top: 0em;
}

.mt-1 {
  margin-top: 0.4em;
}

.mt-2 {
  margin-top: 0.8em;
}

.mt-3 {
  margin-top: 1.2em;
}

.mt-4 {
  margin-top: 1.6em;
}

.mt-5 {
  margin-top: 2em;
}

.mt-6 {
  margin-top: 2.4em;
}

.mt-7 {
  margin-top: 2.8em;
}

.mb-0 {
  margin-bottom: 0em;
}

.mb-1 {
  margin-bottom: 0.4em;
}

.mb-2 {
  margin-bottom: 0.8em;
}

.mb-3 {
  margin-bottom: 1.2em;
}

.mb-4 {
  margin-bottom: 1.6em;
}

.mb-5 {
  margin-bottom: 2em;
}

.mb-6 {
  margin-bottom: 2.4em;
}

.mb-7 {
  margin-bottom: 2.8em;
}

.ml-0 {
  margin-left: 0em;
}

.ml-1 {
  margin-left: 0.4em;
}

.ml-2 {
  margin-left: 0.8em;
}

.ml-3 {
  margin-left: 1.2em;
}

.ml-4 {
  margin-left: 1.6em;
}

.ml-5 {
  margin-left: 2em;
}

.ml-6 {
  margin-left: 2.4em;
}

.ml-7 {
  margin-left: 2.8em;
}

.mr-0 {
  margin-right: 0em;
}

.mr-1 {
  margin-right: 0.4em;
}

.mr-2 {
  margin-right: 0.8em;
}

.mr-3 {
  margin-right: 1.2em;
}

.mr-4 {
  margin-right: 1.6em;
}

.mr-5 {
  margin-right: 2em;
}

.mr-6 {
  margin-right: 2.4em;
}

.mr-7 {
  margin-right: 2.8em;
}

.p-0 {
  padding: 0em;
}

.p-1 {
  padding: 0.4em;
}

.p-2 {
  padding: 0.8em;
}

.p-3 {
  padding: 1.2em;
}

.p-4 {
  padding: 1.6em;
}

.p-5 {
  padding: 2em;
}

.p-6 {
  padding: 2.4em;
}

.p-7 {
  padding: 2.8em;
}

.px-0 {
  padding: 0 0em;
}

.px-1 {
  padding: 0 0.4em;
}

.px-2 {
  padding: 0 0.8em;
}

.px-3 {
  padding: 0 1.2em;
}

.px-4 {
  padding: 0 1.6em;
}

.px-5 {
  padding: 0 2em;
}

.px-6 {
  padding: 0 2.4em;
}

.px-7 {
  padding: 0 2.8em;
}

.py-0 {
  padding: 0em 0;
}

.py-1 {
  padding: 0.4em 0;
}

.py-2 {
  padding: 0.8em 0;
}

.py-3 {
  padding: 1.2em 0;
}

.py-4 {
  padding: 1.6em 0;
}

.py-5 {
  padding: 2em 0;
}

.py-6 {
  padding: 2.4em 0;
}

.py-7 {
  padding: 2.8em 0;
}

.pt-0 {
  padding-top: 0em;
}

.pt-1 {
  padding-top: 0.4em;
}

.pt-2 {
  padding-top: 0.8em;
}

.pt-3 {
  padding-top: 1.2em;
}

.pt-4 {
  padding-top: 1.6em;
}

.pt-5 {
  padding-top: 2em;
}

.pt-6 {
  padding-top: 2.4em;
}

.pt-7 {
  padding-top: 2.8em;
}

.pb-0 {
  padding-bottom: 0em;
}

.pb-1 {
  padding-bottom: 0.4em;
}

.pb-2 {
  padding-bottom: 0.8em;
}

.pb-3 {
  padding-bottom: 1.2em;
}

.pb-4 {
  padding-bottom: 1.6em;
}

.pb-5 {
  padding-bottom: 2em;
}

.pb-6 {
  padding-bottom: 2.4em;
}

.pb-7 {
  padding-bottom: 2.8em;
}

.pl-0 {
  padding-left: 0em;
}

.pl-1 {
  padding-left: 0.4em;
}

.pl-2 {
  padding-left: 0.8em;
}

.pl-3 {
  padding-left: 1.2em;
}

.pl-4 {
  padding-left: 1.6em;
}

.pl-5 {
  padding-left: 2em;
}

.pl-6 {
  padding-left: 2.4em;
}

.pl-7 {
  padding-left: 2.8em;
}

.pr-0 {
  padding-right: 0em;
}

.pr-1 {
  padding-right: 0.4em;
}

.pr-2 {
  padding-right: 0.8em;
}

.pr-3 {
  padding-right: 1.2em;
}

.pr-4 {
  padding-right: 1.6em;
}

.pr-5 {
  padding-right: 2em;
}

.pr-6 {
  padding-right: 2.4em;
}

.pr-7 {
  padding-right: 2.8em;
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

input {
  height: 36px;
  outline: none;
  border: none;
  border-radius: .75em 0 0 .75em;
  padding: 0 .8em 0 .8em;
  -webkit-box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.2);
          box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.2);
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-group {
  margin-right: 1em;
}

.menu-group h3 {
  color: white !important;
  font-weight: 600;
}

.menu-group h3 i {
  padding-left: .2em;
}

.menu-group i {
  font-size: 15px;
}

.menu-group button {
  height: 36px;
}

.modal {
  width: 70vw;
  padding: 1.5em;
  border-radius: .7em;
  background-color: white;
  top: .5em;
  position: absolute;
}

.modal .menu-item {
  margin-right: .3em;
}

.group-text {
  margin: 1em 0;
  border-radius: .7em;
  -webkit-box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.2);
          box-shadow: 0px 10px 30px rgba(15, 15, 15, 0.2);
  padding: 1.5em;
}

.group-text hr {
  opacity: .3;
}

.text-area {
  height: 50vh;
  margin-top: 1em;
  outline: 0;
  overflow: auto;
  /* Track */
  /* Handle */
}

.text-area::-webkit-scrollbar {
  width: .3em;
  border-radius: 0 .7em .7em 0;
  background: rgba(128, 128, 128, 0.5);
}

.text-area::-webkit-scrollbar-track {
  border-radius: .7em;
}

.text-area::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff930a), color-stop(#fd7328), color-stop(#f5543c), color-stop(#e6344c), to(#d1105a));
  background-image: linear-gradient(to right top, #ff930a, #fd7328, #f5543c, #e6344c, #d1105a);
  cursor: pointer;
  border-radius: 10px;
}

.text-area::-webkit-scrollbar-thumb:hover {
  width: 1em;
}

.title-area {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  outline: 0;
  font-size: 23px;
}
/*# sourceMappingURL=style.css.map */