//================================================================ IMPORT
@import '../../assets/scss/main.scss';

footer {
    width: 100%;
    height: 50vh;
    @include is-flex-column(center, flex-start);
    padding: 3em;
    box-shadow: $shadow4;
    background-color: white;

    span {
        color: white;
    }

    span {
        margin-left: .4em;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $color1;
        }
    }

    p {
        margin-bottom: 1.2em;
    }
}