@import '@/assets/scss/main.scss';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: $color5;
  font-weight: 400;
  font-family: 'Signika', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  @include scroll();
}

blockquote,
q {
  quotes: none;
}

blockquote {

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

q {

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 1.7em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.15em;
  font-family: 'Signika', sans-serif !important;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Signika', sans-serif !important;
  outline: none;
  border: none;
}

i,
h3 {
  transition: $transition;
}

i:not(.solo-i) {
  
}

b {
  font-weight: bold;
}

ol,
ul {
  margin-left: 2em !important;
  @include is-flex-column(flex-start, flex-start);
}
main {
  @include is-flex(center, center);
  margin: 74px auto;
}

#app{
  background-color: $color6;
}
.content{
  margin-top: 1.5em;
}
.main-content {
  max-width: 1274px;
  margin: 0 auto;
  padding: 2em 1em;
}
.noScroll{
  overflow-y: hidden;
}